*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body{
    background-color: rgb(12, 143, 86);
    color: white;
}

h1{
    text-align: center;
    margin: 3rem 0;   
    font-size: 10rem;
}

.container{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box,
.fizz,
.buzz,
.fizzbuzz{
    width: calc(100% / 12 * 2);
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem;
    font-size: 2rem;
}

.fizz{
    background-color: rgb(250, 205, 24);
}
.buzz{
    background-color: rgb(221, 83, 19);
}
.fizzbuzz{
    background-color: rgb(255, 0, 0);
}
.box{
    background-color: rgb(20, 20, 52);
}
